<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target includeMode="feature" name="Jnario Target" sequenceNumber="70">
<locations>
<location includeAllPlatforms="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.cli" version="1.2.0.v201105210650"/>
<unit id="org.apache.commons.cli.source" version="1.2.0.v201105210650"/>
<unit id="org.apache.commons.lang" version="2.4.0.v201005080502"/>
<unit id="org.apache.commons.lang.source" version="2.4.0.v201005080502"/>
<unit id="org.hamcrest.core" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.integration.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.generator" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.generator.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.integration" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.library" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.library.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="org.objenesis" version="1.0.0.v201105211943"/>
<unit id="org.objenesis.source" version="1.0.0.v201105211943"/>
<unit id="org.mockito" version="1.8.4.v201102171835"/>
<unit id="org.mockito.source" version="1.8.4.v201102171835"/>
<unit id="org.junit" version="0.0.0"/>
<unit id="org.junit.source" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20110523182458/repository"/>
</location>
<location includeAllPlatforms="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.3.0.v201202241704"/>
<unit id="org.eclipse.xtend.m2e.feature.group" version="2.3.0.v201202241704"/>
<unit id="org.eclipse.xtext.examples.feature.group" version="2.3.0.v201202241704"/>
<unit id="org.eclipse.xtext.runtime.feature.group" version="2.3.0.v201202241704"/>
<unit id="org.eclipse.xtext.ui.feature.group" version="2.3.0.v201202241704"/>
<unit id="org.eclipse.xtext.xbase.feature.group" version="2.3.0.v201202241704"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.3.0.v201202241704"/>
<unit id="org.eclipse.xtext.docs.feature.group" version="2.3.0.v201202241704"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/nightly/"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Xms128m -Xmx768m -Xss4m -XX:MaxPermSize=256m</vmArgs>
</launcherArgs>
</target>
