<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.jnario.ui.wizards"
            name="Jnario">
      </category>
   </extension>
  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">            
   		<classpathContainerInitializer                                          
			id="org.jnario.JNARIO_CONTAINER"                                                        
			class="org.jnario.ui.buildpath.JnarioContainerInitializer"/>                           
	</extension>
	<extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="JNARIO_LIBRARY"
            class="org.jnario.ui.buildpath.JnarioContainerWizardPage"
            id="org.jnario.JNARIO_CONTAINER">
      </classpathContainerPage>
   </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.jnario.ui.preferences.JnarioPreferencePage"
          id="org.jnario.ui.preferences.JnarioPreferencePage"
          name="Jnario">
    </page>
 </extension>
   
</plugin>
