<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="feature"
            icon="icons/feature_file.png"
            id="org.jnario.feature.Feature"
            name="Feature Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.jnario.feature.Feature.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.jnario.feature.Feature.validate">
         <activeWhen>
            <reference
                    definitionId="org.jnario.feature.Feature.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
            <handler
            class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtend.ide.edit.OrganizeImportsHandler"
            commandId="org.eclipse.xtext.xbase.ui.organizeImports">
           	<activeWhen>
				<reference
					definitionId="org.jnario.feature.Feature.Editor.opened">
				</reference>
			</activeWhen>
			<handler
            class="org.eclipse.xtend.ide.edit.InsertStringHandler$LeftGuillemet"
            commandId="org.eclipse.xtend.ide.insertLeftGuillemet">
            <activeWhen>
				<reference
					definitionId="org.jnario.feature.Feature.Editor.opened">
				</reference>
			</activeWhen>
      </handler>
      <handler
            class="org.eclipse.xtend.ide.edit.InsertStringHandler$RightGuillemet"
            commandId="org.eclipse.xtend.ide.insertRightGuillemet">
           	<activeWhen>
				<reference
					definitionId="org.jnario.feature.Feature.Editor.opened">
				</reference>
			</activeWhen>
      </handler>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.jnario.feature.Feature.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.jnario.feature.Feature" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
              category="org.jnario.ui.preferences"
              class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
              id="org.jnario.feature.Feature"
              name="Features">
            <keywordReference id="org.jnario.feature.ui.keyword_Feature"/>
        </page>
        <page
            category="org.jnario.feature.Feature"
            class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.jnario.feature.Feature.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.jnario.feature.ui.keyword_Feature"/>
        </page>
        <page
            category="org.jnario.feature.Feature"
            class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.jnario.feature.Feature.templates"
            name="Templates">
            <keywordReference id="org.jnario.feature.ui.keyword_Feature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.jnario.feature.ui.keyword_Feature"
            label="Feature"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.jnario.feature.Feature.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.jnario.feature.Feature.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.jnario.feature.Feature.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.jnario.feature.Feature.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.jnario.feature.Feature.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="feature">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="feature">
        </resourceServiceProvider>
    </extension>


    <!-- marker definitions for org.jnario.feature.Feature -->
    <extension
            id="feature.check.fast"
            name="Feature Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="feature.check.normal"
            name="Feature Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="feature.check.expensive"
            name="Feature Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.jnario.feature.Feature.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.jnario.feature.Feature.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for org.jnario.feature.Feature -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.jnario.feature.ui.feature.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.jnario.feature.ui.feature.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.jnario.feature.ui.feature.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>

<!-- Type Hierarchy  -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchyHandler"
			commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchy">
			<activeWhen>
				<reference
					definitionId="org.jnario.feature.Feature.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.QuickTypeHierarchyHandler"
			commandId="org.eclipse.xtext.xbase.ui.hierarchy.QuickTypeHierarchy">
			<activeWhen>
				<reference
					definitionId="org.jnario.feature.Feature.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchy"
				style="push"
				tooltip="Open Type Hierarchy">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.jnario.feature.Feature.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- Call Hierachy -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierachyHandler"
			commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierarchy">
			<activeWhen>
				<reference
					definitionId="org.jnario.feature.Feature.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierarchy"
				style="push"
				tooltip="Open Call Hierarchy">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.jnario.feature.Feature.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension
         point="org.eclipse.core.runtime.adapters">
      <factory class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.builder.smap.StratumBreakpointAdapterFactory"
         adaptableType="org.eclipse.xtext.ui.editor.XtextEditor">
         <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
      </factory> 
   </extension>
   <extension point="org.eclipse.ui.editorActions">
      <editorContribution targetID="org.jnario.feature.Feature" 
                          id="org.jnario.feature.Feature.ide.rulerActions">
	     <action
	             label="Not Used"
	             class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
	             style="push"
	             actionID="RulerDoubleClick"
	             id="org.jnario.feature.Feature.doubleClickBreakpointAction"/>
	  </editorContribution>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
         targetID="example.rulerContextMenuId"
         id="org.jnario.feature.Feature.ide.RulerPopupActions">
         <action
            label="Toggle Breakpoint"
            class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
            menubarPath="additions"
            id="org.jnario.feature.Feature.ide.rulerContextMenu.toggleBreakpointAction">
         </action>
      </viewerContribution>
   </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.jnario.feature.Feature.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.jnario.feature.Feature.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.jnario.feature.Feature.compare.contentViewers"
            class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="feature">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.jnario.feature.Feature.compare.contentMergeViewers"
            class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="feature" label="Feature Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.jnario.feature.Feature.editors.documentProviders"
            class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="feature">
    </provider>
  </extension>
  
   <extension point="org.eclipse.core.runtime.adapters">
     <factory 
        class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.jnario.feature.ui.launching.FeatureJavaElementDelegateAdapterFactory"
        adaptableType="org.eclipse.ui.IFileEditorInput">
        <adapter type="org.jnario.feature.ui.launching.FeatureJavaElementDelegate"/>
     </factory>
     <factory 
        class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.jnario.feature.ui.launching.FeatureJavaElementDelegateAdapterFactory"
        adaptableType="org.eclipse.ui.IEditorPart">
        <adapter type="org.jnario.feature.ui.launching.FeatureJavaElementDelegate"/>
     </factory>
     <factory 
        class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.jnario.feature.ui.launching.FeatureJavaElementDelegateAdapterFactory" 
        adaptableType="org.eclipse.core.resources.IResource">
        <adapter type="org.jnario.feature.ui.launching.FeatureJavaElementDelegate"/>
     </factory>
     <factory 
        class="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.jnario.feature.ui.launching.FeatureJavaElementDelegateAdapterFactory"
        adaptableType="org.jnario.feature.ui.launching.FeatureJavaElementDelegate">
        <adapter type="org.eclipse.jdt.core.IJavaElement"/>
     </factory>
  </extension>
  
  <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%JUnitShortcut.label"
            icon="$nl$/icons/julaunch.gif"
            helpContextId="org.eclipse.jdt.junit.launch_shortcut"
            class="org.jnario.feature.ui.launching.FeatureJUnitLaunchShortcut"
            modes="run, debug"
            id="org.jnario.feature.ui.launching.junitShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
               	  <iterate>
               	     <and>
               	       <not><adapt type="org.eclipse.jdt.core.IJavaElement"/></not>
                       <adapt type="org.jnario.feature.ui.launching.FeatureJavaElementDelegate">
	                     <adapt type="org.eclipse.jdt.core.IJavaElement">
			                <test property="org.eclipse.jdt.core.isInJavaProject"/>
			                <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
			                <test property="org.eclipse.jdt.junit.canLaunchAsJUnit" forcePluginActivation="true"/>
			             </adapt>
		               </adapt>
		             </and>
		          </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="org.eclipse.jdt.junit.launchconfig">
         </configurationType>
         <description
               description="%DebugJUnitLaunchShortcut.description"
               mode="debug">
         </description>
         <description
               description="%RunJUnitLaunchShortcut.description"
               mode="run">
         </description>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.jnario.feature.ui.launching.FeatureJUnitPDELaunchShortcut"
            icon="$nl$/icons/julaunchpgn.gif"
            id="org.jnario.feature.ui.launching.junitPdeShortcut"
            label="%launcher.junit.name"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
               	  <iterate>
               	     <and>
               	       <not><adapt type="org.eclipse.jdt.core.IJavaElement"/></not>
                       <adapt type="org.jnario.feature.ui.launching.FeatureJavaElementDelegate">
                         <adapt type="org.eclipse.jdt.core.IJavaElement">
		                   <test property="org.eclipse.jdt.core.isInJavaProjectWithNature" value="org.eclipse.pde.PluginNature"/>
		                   <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
		                   <test property="org.eclipse.jdt.junit.canLaunchAsJUnit" forcePluginActivation="true"/>
		                 </adapt>
                       </adapt>
                     </and>
		          </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="org.eclipse.pde.ui.JunitLaunchConfig">
         </configurationType>
         <description
               description="%RunJUnitPluginLaunchShortcut.description"
               mode="run">
         </description>
         <description
               description="%DebugJUnitPluginLaunchShortcut.description"
               mode="debug">
         </description>
      </shortcut>
    </extension>  
   
    <extension point="org.eclipse.jdt.core.classpathContainerInitializer">            
   		<classpathContainerInitializer                                          
			id="org.eclipse.xtend.XTEND_CONTAINER"                                                        
			class="org.eclipse.xtend.ide.buildpath.XtendContainerInitializer"/>                           
	</extension>
<!--	<extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="%XtendLibrary_name"
            class="org.eclipse.xtend.ide.buildpath.XtendContainerWizardPage"
            id="org.eclipse.xtend.XTEND_CONTAINER">
      </classpathContainerPage>
   </extension> -->
       <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%FeatureContext_description"
            id="org.jnario.feature.ui.FeatureEditorScope"
            name="%FeatureContext_name"
            parentId="org.eclipse.xtext.ui.XtextEditorScope">
      </context>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+&lt;"
            commandId="org.eclipse.xtend.ide.insertLeftGuillemet">
      </key>
      <key
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+&gt;"
            commandId="org.eclipse.xtend.ide.insertRightGuillemet">
      </key>
      <key
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M4+&lt;"
            commandId="org.eclipse.xtend.ide.insertLeftGuillemet">
      </key>
      <key
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M4+&gt;"
            commandId="org.eclipse.xtend.ide.insertRightGuillemet">
      </key>
      <key
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+O"
            commandId="org.eclipse.xtext.xbase.ui.organizeImports">
      </key>
<!--
      <key
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            sequence="M1+M2+T"
            commandId="org.eclipse.jdt.ui.navigate.open.type"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            sequence="M1+M2+H"
            commandId="org.eclipse.jdt.ui.navigate.open.type.in.hierarchy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
-->

		<!--
			known bug in JDT:
			Launch using shortcut key Alt+Shift+X doesn't work until launch actions are loaded
			https://bugs.eclipse.org/bugs/show_bug.cgi?id=218881
		-->

		<!-- run Java application -->
       <key
             commandId="org.eclipse.xtend.ide.launching.localJavaShortcut.debug"
             contextId="org.jnario.feature.ui.FeatureEditorScope"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M3+M4+D J"/>
       <!-- On carbon: Shift+Option+D is a character, Command+Option+D is Show/Hide Dock, Command+Control+D is dictionary lookup -->
       <key
             contextId="org.jnario.feature.ui.FeatureEditorScope"
             platform="carbon"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M3+M4+D J"/>
       <key
             commandId="org.eclipse.xtend.ide.launching.localJavaShortcut.debug"
             contextId="org.jnario.feature.ui.FeatureEditorScope"
             platform="carbon"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+M3+M4+D J"/>
       <key
             commandId="org.eclipse.xtend.ide.launching.localJavaShortcut.run"
             contextId="org.jnario.feature.ui.FeatureEditorScope"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M2+M3+X J"/>
       <key
             platform="carbon"
             contextId="org.jnario.feature.ui.FeatureEditorScope"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M2+M3+X J"/>
       <key
             commandId="org.eclipse.xtend.ide.launching.localJavaShortcut.run"
             contextId="org.jnario.feature.ui.FeatureEditorScope"
             platform="carbon"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+M3+X J">
       </key>
      
      
      <!-- run JUnit test -->
      <key
            commandId="org.eclipse.xtend.ide.launching.junitShortcut.debug"
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+D T"/>
      <!-- On carbon: Shift+Option+D is a character, Command+Option+D is Show/Hide Dock, Command+Control+D is dictionary lookup -->
      <key
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+D T"/>
      <key
            commandId="org.eclipse.xtend.ide.launching.junitShortcut.debug"
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+M4+D T"/>
      <key
            commandId="org.eclipse.xtend.ide.launching.junitShortcut.run"
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X T"/>
      <key
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X T"/>
      <key
            commandId="org.eclipse.xtend.ide.launching.junitShortcut.run"
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+X T"/>
            
            
      <!-- run JUnit Plug-In test -->      
      <key
            commandId="org.eclipse.xtend.ide.launching.junitPdeShortcut.debug"
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+D P"/>
      <!-- On carbon: Shift+Option+D is a character, Command+Option+D is Show/Hide Dock, Command+Control+D is dictionary lookup -->
      <key
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+D P"/>
      <key
            commandId="org.eclipse.xtend.ide.launching.junitPdeShortcut.debug"
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+M4+D P"/>
      <key
            commandId="org.eclipse.xtend.ide.launching.junitPdeShortcut.run"
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X P"/>
      <key
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X P"/>
      <key
            commandId="org.eclipse.xtend.ide.launching.junitPdeShortcut.run"
            contextId="org.jnario.feature.ui.FeatureEditorScope"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+X P"/>
   </extension>
   
   
       <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.eclipse.xtext.xbase.ui.organizeImports"
                 style="push"
                 tooltip="Organize Imports">
            <visibleWhen checkEnabled="false">
                <reference
					definitionId="org.jnario.feature.Feature.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
<!--	 <extension
         id="org.jnario.feature.ui.wizard"
         name="newFeatureClass"
         point="org.eclipse.ui.newWizards">
      <category
            id="org.jnario.feature.ui.wizards"
            name="Feature">
      </category>
      <wizard
            category="org.jnario.feature.ui.wizards"
            icon="icons/jnario_file.png"
            id="org.jnario.feature.ui.wizards.NewFeatureWizard"
            name="%NewFeature.label">
            <class class="org.jnario.feature.ui.FeatureExecutableExtensionFactory">
				<parameter name="javatype" value="true" />
				<parameter name="guicekey" value="org.jnario.feature.ui.wizards.NewFeatureWizard" />
			</class>
			<description>
            	%NewFeature.description
         	</description>
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="org.jnario.feature.ui.wizards.NewFeatureWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut
               id="org.jnario.feature.ui.wizards.NewFeatureWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <newWizardShortcut
               id="org.jnario.feature.ui.wizards.NewFeatureWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension> -->
 <extension
       point="org.eclipse.ui.commands">
    <command
          id="org.jnario.feature.ui.showCodeCommand"
          name="org.jnario.feature.ui.showCodeCommand">
    </command>
 </extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution 
			locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
			<toolbar
				id="org.jnarioToolbar">
				<command
          commandId="org.jnario.feature.ui.showCodeCommand"
          icon="icons/feature_button.png"
          id="org.jnario.feature.ui.showCodeCommand"
          label="Show/Hide Code"
          style="push"
          tooltip="Show or hide code in steps">
       <visibleWhen
                 checkEnabled="false">
              <reference definitionId="org.jnario.feature.Feature.Editor.opened">
                	</reference>
           </visibleWhen>
				</command>
			</toolbar>
		</menuContribution>
 	 </extension>
 	 
 	 <extension
      point="org.eclipse.ui.handlers">
   <handler
         class="org.jnario.feature.ui.editor.FeatureShowCodeHandler"
         commandId="org.jnario.feature.ui.showCodeCommand">
   </handler>
</extension>
   <extension point="org.eclipse.ui.editors.annotationTypes">
       <type name="org.eclipse.xtext.ui.overrideIndicator"></type>
   </extension>
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
       <specification
          annotationType="org.eclipse.xtext.ui.overrideIndicator"
          label="%OverrideIndicator.label"
          icon="$nl$/icons/full/ovr16/over_co.gif"
          annotationImageProvider="org.jnario.feature.ui.FeatureExecutableExtensionFactory:org.eclipse.xtend.ide.editor.OverrideIndicatorImageProvider"
          textPreferenceKey="overrideIndicator"
          textPreferenceValue="false"
          highlightPreferenceKey="overrideIndicatorHighlighting"
          highlightPreferenceValue="false"
          contributesToHeader="false"
          overviewRulerPreferenceKey="overrideIndicatorInOverviewRuler"
          overviewRulerPreferenceValue="false"
          verticalRulerPreferenceKey="overrideIndicatorInVerticalRuler"
          verticalRulerPreferenceValue="true"
          colorPreferenceKey="overrideIndicatorColor"
          colorPreferenceValue="180,207,205"
          presentationLayer="3"
          showInNextPrevDropdownToolbarActionKey="showoverrideIndicatorInNextPrevDropdownToolbarAction"
          showInNextPrevDropdownToolbarAction="false"
          isGoToNextNavigationTargetKey="isOverrideIndicatorGoToNextNavigationTarget"
          isGoToNextNavigationTarget="false"
          isGoToPreviousNavigationTargetKey="isOverrideIndicatorGoToPreviousNavigationTarget"
          isGoToPreviousNavigationTarget="false"
          textStylePreferenceKey="overrideIndicatorTextStyle"
          textStylePreferenceValue="SQUIGGLES">
       </specification>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
        <themeElementCategory label="%xtendPresentation.label" id="org.eclipse.xtend.ui.presentation"/>
        <fontDefinition
            label="%xtendEditorFontDefiniton.label"
            defaultsTo="org.eclipse.jface.textfont"
            categoryId="org.eclipse.xtend.ui.presentation"
            id="org.eclipse.xtend.ui.editors.textfont">
         <description>
            %xtendEditorFontDefintion.description
         </description>
        </fontDefinition>
        <colorDefinition
            label="%DeclarationViewBackgroundColor.label"
            categoryId="org.eclipse.xtend.ui.presentation"
            value="COLOR_INFO_BACKGROUND"
            id="org.eclipse.xtend.ui.DeclarationView.backgroundColor">
         <description>
            %DeclarationViewBackgroundColor.description
         </description>
      </colorDefinition>
   </extension>
       <!-- make CTRL-SHIFT-T etc. work -->
	<extension 
		point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.jdt.ui.JavaActionSet">
			<part id="org.jnario.feature.Feature">
       		</part>
		</actionSetPartAssociation>
	</extension>
	   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="org.jnario.feature.ui.wizards.NewFeatureWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut
               id="org.jnario.feature.ui.wizards.NewFeatureWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <newWizardShortcut
               id="org.jnario.feature.ui.wizards.NewFeatureWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   
	<extension
         id="org.jnario.feature.ui.wizard"
         name="newFeatureClass"
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.jnario.ui.wizards"
            icon="icons/feature_file.png"
            id="org.jnario.feature.ui.wizards.NewFeatureWizard"
            name="%NewFeature.label">
            <class class="org.jnario.feature.ui.FeatureExecutableExtensionFactory">
				<parameter name="javatype" value="true" />
				<parameter name="guicekey" value="org.jnario.feature.ui.wizards.NewFeatureWizard" />
			</class>
			<description>
            	%NewFeature.description
         	</description>
      </wizard>
   </extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="org.jnario.feature.ui.showCodeCommand"
          contextId="org.jnario.feature.ui.FeatureEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M2+F">
    </key>
 </extension>
</plugin>
