<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target includeMode="feature" name="XSpec Editor" sequenceNumber="52">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.7.1.M20110909-1335"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.1.v20110913-1526"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.0.1.v201108020636"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
</locations>
</target>
