/* body */

body{
  padding-bottom: 40px;
}
.container>footer p {
	text-align: center; /* center align it with the container */
}
/* Header */

// Border Radius
.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

// Drop shadows
.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.header {
  display:block;
  position:absolute;
  padding-top: 30px;

  position: relative;
  background: #373737; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #373737 0%, #212121 50%, #212121 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#373737), color-stop(50%,#212121), color-stop(100%,#212121)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #373737 0%,#212121 50%,#212121 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #373737 0%,#212121 50%,#212121 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #373737 0%,#212121 50%,#212121 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover,  #373737 0%,#212121 50%,#212121 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#212121',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

   height:     auto !important;
   height:     100%;
   padding:     0 auto 100px; /* -44px being the size of the footer */

  @shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  .box-shadow(@shadow);
}

/* Images */

img {
   padding:8px;
   border:1px solid #BCD279;
   .border-radius(4px);
}

/* Container */

.content{
  background: #ffffed; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ffffed 0%, #fffefb 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffed), color-stop(100%,#fffefb)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffed 0%,#fffefb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffffed 0%,#fffefb 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffffed 0%,#fffefb 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover,  #ffffed 0%,#fffefb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffed', endColorstr='#fffefb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Section */

section {
  border-bottom: 2px solid #ddd;
  h1, h2, h3, h4 {
    color: #444;
  }
  h1 {
  margin-bottom: 10px;
  margin-top: 10px;
  }
}

/* Footer */ 

footer {
  padding-top: 50px;
  p {
    color: #555;
  }
  text-align: center
}

/* Quick links */

.bs-links {
  margin: 36px 0;
}
.quick-links {
  min-height: 30px;
  margin: 0;
  padding: 5px 20px;
  list-style: none;
  text-align: center;
  overflow: hidden;
}
.quick-links:first-child {
  min-height: 0;
}
.quick-links li {
  display: inline;
  margin: 0 5px;
  color: #999;
}
.quick-links .github-btn,
.quick-links .tweet-btn,
.quick-links .follow-btn {
  position: relative;
  top: 5px;
}
