<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="jnario"
            icon="icons/jnario_file.png"
            id="de.bmw.carit.jnario.Jnario"
            name="Jnario Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="de.bmw.carit.jnario.Jnario.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="de.bmw.carit.jnario.Jnario.validate">
         <activeWhen>
            <reference
                    definitionId="de.bmw.carit.jnario.Jnario.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
            <handler
            class="de.bmw.carit.jnario.spec.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.xtend2.ui.edit.OrganizeImportsHandler"
            commandId="org.eclipse.xtext.xbase.ui.organizeImports">
           	<activeWhen>
				<reference
					definitionId="de.bmw.carit.jnario.Jnario.Editor.opened">
				</reference>
			</activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="de.bmw.carit.jnario.Jnario.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="de.bmw.carit.jnario.Jnario" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="de.bmw.carit.jnario.Jnario"
            name="Jnario">
            <keywordReference id="de.bmw.carit.jnario.ui.keyword_Jnario"/>
        </page>
        <page
            category="de.bmw.carit.jnario.Jnario"
            class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="de.bmw.carit.jnario.Jnario.coloring"
            name="Syntax Coloring">
            <keywordReference id="de.bmw.carit.jnario.ui.keyword_Jnario"/>
        </page>
        <page
            category="de.bmw.carit.jnario.Jnario"
            class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="de.bmw.carit.jnario.Jnario.templates"
            name="Templates">
            <keywordReference id="de.bmw.carit.jnario.ui.keyword_Jnario"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="de.bmw.carit.jnario.Jnario"
            name="Jnario">
            <keywordReference id="de.bmw.carit.jnario.ui.keyword_Jnario"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="de.bmw.carit.jnario.ui.keyword_Jnario"
            label="Jnario"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="de.bmw.carit.jnario.Jnario.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="de.bmw.carit.jnario.Jnario.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="de.bmw.carit.jnario.Jnario.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="de.bmw.carit.jnario.Jnario.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="de.bmw.carit.jnario.Jnario.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="jnario">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="jnario">
        </resourceServiceProvider>
    </extension>



   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="de.bmw.carit.jnario.Jnario"
            class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="de.bmw.carit.jnario.Jnario.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="de.bmw.carit.jnario.ui.keyword_Jnario"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="de.bmw.carit.jnario.Jnario"
            class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="de.bmw.carit.jnario.Jnario.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="de.bmw.carit.jnario.ui.keyword_Jnario"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="de.bmw.carit.jnario.Jnario.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.bmw.carit.jnario.Jnario.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="de.bmw.carit.jnario.Jnario.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="de.bmw.carit.jnario.Jnario.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="de.bmw.carit.jnario.Jnario"
	        class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="de.bmw.carit.jnario.Jnario.refactoring"
	        name="Refactoring">
	        <keywordReference id="de.bmw.carit.jnario.ui.keyword_Jnario"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="de.bmw.carit.jnario.Jnario.compare.contentViewers"
            class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="jnario">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="de.bmw.carit.jnario.Jnario.compare.contentMergeViewers"
            class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="jnario" label="Jnario Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="de.bmw.carit.jnario.Jnario.editors.documentProviders"
            class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="jnario">
    </provider>
  </extension>
  
   <extension point="org.eclipse.core.runtime.adapters">
     <factory 
        class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.xtend2.ui.launching.JavaElementDelegateAdapterFactory"
        adaptableType="org.eclipse.ui.IFileEditorInput">
        <adapter type="org.eclipse.xtext.xtend2.ui.launching.JavaElementDelegate"/>
     </factory>
     <factory 
        class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.xtend2.ui.launching.JavaElementDelegateAdapterFactory"
        adaptableType="org.eclipse.ui.IEditorPart">
        <adapter type="org.eclipse.xtext.xtend2.ui.launching.JavaElementDelegate"/>
     </factory>
     <factory 
        class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.xtend2.ui.launching.JavaElementDelegateAdapterFactory" 
        adaptableType="org.eclipse.core.resources.IResource">
        <adapter type="org.eclipse.xtext.xtend2.ui.launching.JavaElementDelegate"/>
     </factory>
     <factory 
        class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory:org.eclipse.xtext.xtend2.ui.launching.JavaElementDelegateAdapterFactory"
        adaptableType="org.eclipse.xtext.xtend2.ui.launching.JavaElementDelegate">
        <adapter type="org.eclipse.jdt.core.IJavaElement"/>
     </factory>
  </extension>
  
  <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%JUnitShortcut.label"
            icon="$nl$/icons/julaunch.gif"
            helpContextId="org.eclipse.jdt.junit.launch_shortcut"
            class="de.bmw.carit.jnario.ui.launching.JnarioJUnitLaunchShortcut"
            modes="run, debug"
            id=".junitShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
               	  <iterate>
               	     <and>
               	       <not><adapt type="org.eclipse.jdt.core.IJavaElement"/></not>
                       <adapt type="de.bmw.carit.jnario.ui.launching.JnarioJavaElementDelegate">
	                     <adapt type="org.eclipse.jdt.core.IJavaElement">
			                <test property="org.eclipse.jdt.core.isInJavaProject"/>
			                <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
			                <test property="org.eclipse.jdt.junit.canLaunchAsJUnit" forcePluginActivation="true"/>
			             </adapt>
		               </adapt>
		             </and>
		          </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="org.eclipse.jdt.junit.launchconfig">
         </configurationType>
         <description
               description="%DebugJUnitLaunchShortcut.description"
               mode="debug">
         </description>
         <description
               description="%RunJUnitLaunchShortcut.description"
               mode="run">
         </description>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.bmw.carit.jnario.ui.launching.JnarioJUnitPDELaunchShortcut"
            icon="$nl$/icons/julaunchpgn.gif"
            id="de.bmw.carit.jnario.ui.launching.junitPdeShortcut"
            label="%launcher.junit.name"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
               	  <iterate>
               	     <and>
               	       <not><adapt type="org.eclipse.jdt.core.IJavaElement"/></not>
                       <adapt type="de.bmw.carit.jnario.ui.launching.JnarioJavaElementDelegate">
                         <adapt type="org.eclipse.jdt.core.IJavaElement">
		                   <test property="org.eclipse.jdt.core.isInJavaProjectWithNature" value="org.eclipse.pde.PluginNature"/>
		                   <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
		                   <test property="org.eclipse.jdt.junit.canLaunchAsJUnit" forcePluginActivation="true"/>
		                 </adapt>
                       </adapt>
                     </and>
		          </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="org.eclipse.pde.ui.JunitLaunchConfig">
         </configurationType>
         <description
               description="%RunJUnitPluginLaunchShortcut.description"
               mode="run">
         </description>
         <description
               description="%DebugJUnitPluginLaunchShortcut.description"
               mode="debug">
         </description>
      </shortcut>
    </extension>  
   
    <extension point="org.eclipse.jdt.core.classpathContainerInitializer">            
   		<classpathContainerInitializer                                          
			id="org.eclipse.xtend.XTEND_CONTAINER"                                                        
			class="org.eclipse.xtext.xtend2.ui.buildpath.XtendContainerInitializer"/>                           
	</extension>
<!--	<extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="%XtendLibrary_name"
            class="org.eclipse.xtext.xtend2.ui.buildpath.XtendContainerWizardPage"
            id="org.eclipse.xtend.XTEND_CONTAINER">
      </classpathContainerPage>
   </extension> -->
       <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%JnarioContext_description"
            id="de.bmw.carit.jnario.ui.JnarioEditorScope"
            name="%JnarioContext_name"
            parentId="org.eclipse.xtext.ui.XtextEditorScope">
      </context>
   </extension>
    <extension
         point="org.eclipse.ui.bindings">
      <key
            contextId="org.eclipse.xtext.ui.XtextEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+O"
            commandId="org.eclipse.xtext.xbase.ui.organizeImports">
      </key>
   </extension>
       <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.eclipse.xtext.xbase.ui.organizeImports"
                 style="push"
                 tooltip="Organize Imports">
            <visibleWhen checkEnabled="false">
                <reference
					definitionId="de.bmw.carit.jnario.Jnario.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
<!--	 <extension
         id="de.bmw.carit.jnario.ui.wizard"
         name="newJnarioClass"
         point="org.eclipse.ui.newWizards">
      <category
            id="de.bmw.carit.jnario.ui.wizards"
            name="Jnario">
      </category>
      <wizard
            category="de.bmw.carit.jnario.ui.wizards"
            icon="icons/jnario_file.png"
            id="de.bmw.carit.jnario.ui.wizards.NewJnarioWizard"
            name="%NewJnario.label">
            <class class="de.bmw.carit.jnario.ui.JnarioExecutableExtensionFactory">
				<parameter name="javatype" value="true" />
				<parameter name="guicekey" value="de.bmw.carit.jnario.ui.wizards.NewJnarioWizard" />
			</class>
			<description>
            	%NewJnario.description
         	</description>
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="de.bmw.carit.jnario.ui.wizards.NewJnarioWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut
               id="de.bmw.carit.jnario.ui.wizards.NewJnarioWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <newWizardShortcut
               id="de.bmw.carit.jnario.ui.wizards.NewJnarioWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension> -->
 <extension
       point="org.eclipse.ui.commands">
    <command
          id="de.bmw.carit.jnario.ui.showCodeCommand"
          name="de.bmw.carit.jnario.ui.showCodeCommand">
    </command>
 </extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution 
			locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
			<toolbar
				id="de.bmw.carit.jnarioToolbar">
				<command
          commandId="de.bmw.carit.jnario.ui.showCodeCommand"
          icon="icons/jnario.gif"
          id="de.bmw.carit.jnario.ui.showCodeCommand"
          label="Show/Hide Code"
          style="toggle">
       <visibleWhen
                 checkEnabled="false">
              <reference definitionId="de.bmw.carit.jnario.Jnario.Editor.opened">
                	</reference>
           </visibleWhen>
				</command>
			</toolbar>
		</menuContribution>
 	 </extension>
 	 
 	 <extension
      point="org.eclipse.ui.handlers">
   <handler
         class="de.bmw.carit.jnario.ui.editor.JnarioShowCodeHandler"
         commandId="de.bmw.carit.jnario.ui.showCodeCommand">
   </handler>
</extension>
</plugin>
