.pln{color:#839496}
@media screen{
  .str{color:#2aa198}
  .kwd{color:#859900}
  .com{color:#586175}
  .typ{color:#b58900}
  .lit{color:#2aa198}
  .pun,.opn,.clo{color:#839496}
  .tag{color:#268bd2}
  .atn{color:#586175}
  .atv{color:#2aa198}
  .dec,.var{color:#268bd2}
  .fun{color:red}
  .linenums{color: #586e75}
}
@media print,projection{
  .str{color:#060}
  .kwd{color:#006;font-weight:bold}
  .com{color:#600;font-style:italic}
  .typ{color:#404;font-weight:bold}
  .lit{color:#044}
  .pun{color:#440}
  .tag{color:#006;font-weight:bold}
  .atn{color:#404}
  .atv{color:#060}
}

pre.prettyprint{
  padding:8px;
  background-color:#030303;
  /*border: 1px solid #e1e1e8;*/
  background: #111; /* Old browsers */
}

pre.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #222, inset 41px 0 0 #111;
     -moz-box-shadow: inset 40px 0 0 #222, inset 41px 0 0 #111;
          box-shadow: inset 40px 0 0 #222, inset 41px 0 0 #111;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
} 

ol.linenums li {
  padding-left: 12px;
  line-height: 18px;
  /*text-shadow: 0 1px 0 #fff;*/
}

.code{
  background: #002b36;
}
