<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.org/jnario/spec/Spec" 
       class = "org.jnario.spec.spec.SpecPackage"
       genModel = "org/jnario/spec/Spec.genmodel" /> 
	
  </extension>





</plugin>
